body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}

.container {

    width: 1200px;
    margin: auto;
}

header {

    background-color: #7F56F5;
    padding: 10px 0 50px 0;
}

.logo {

    width: 400px;
    float: left;
}

.logo img {

    
}

ul {

}

nav {
    width: 800px;
    float: left;
}

nav ul {

    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {

    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-weight: 600;
}

img {
    max-width: 100%;
}

/* Banner start */

.banner {

    background-color: #7F56F5;
    padding: 100px 0;
    text-align: center;
    color: white;
    
}

.banner h1 {

    margin-top: 0;
    font-size: 50px;
}

.banner p {

    font-size: 17px;
}

/* main section */

.blog-items{

    margin: 70px 0;
}

.single-item{

    margin: 70px 0;
    
}

.single-text{

    width: 40%;
    float: left;
    padding: 50px;
}

.single-text h1{

    font-size: 40px;
    text-transform: capitalize;
}

.text{

    padding: 0 50px 0 0;
}

.single-item img{

}

.single-photo{

    width: 50%;
    float: left;
}

.single-photo img{

    margin: 70px 0 0 0;
}

.single-item-3{

    margin: 70px 0;
}